run = "npm run build | php artisan serve -vvv"
modules = ["nodejs-20:v8-20230920-bd784b9"]

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "npm run build | php artisan serve -vvv"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 8000
externalPort = 80
exposeLocalhost = true
